    
.fundo {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
    padding: 400px;
}
.h1 {
    color: #333;
    text-align: center; 
}
.p {
    color: #666;
}

.a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    text-decoration: none;
    border-radius: 5px;
    border-color: #333;
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color: #0056b3;
}
